# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
android/
ios/
*.keystore
*.gradle
*.iml
*.apk
*.aab
*.xcworkspace
*.xcodeproj
Pods/
Podfile.lock

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Build output
build/
dist/
coverage/

# VSCode
.vscode/
